/**
 * Global style definitions
 */
body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>span {
        margin: auto;
        display: inline;
        text-align: center;
        margin-top: 20px;
        max-width: calc(100% - 40px);
        font-size: x-large;
        word-wrap: break-word;
    }
    &>button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 40%;
        margin: auto;
        max-width: 200px;
    }
}
